html{
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
}

button {
    background-color: #F84646;
    color: #FFF;
    font-weight: 500;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

h1{
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
}

h2 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
}

#presentation-container {
    padding: 2.5rem 7.5rem;
    height: 100vh;
    background-image: url(/imagem_inicio.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#presentation{
    width: 37.5rem;
}

.container {
    padding: 5rem 7.5rem;
    text-align: center;
}

.contact-title{
    margin-top: .5rem;
}

.container > p {
    margin-top: 1.5rem;
}

.container > button {
    margin-top: 2rem;
}

.backgroud-gradient{
    background: linear-gradient(180deg, #fff, #d9d9d9);
}

.backgroud-red {
    background-color: #F84646;
    color: #fff;
}

#qualities {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#qualities > img {
    margin: 0 2.5rem;
}